.tiptap {
  outline: none;

  &:first-child {
    margin-top: 0;
  }

  p.is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    float: left;
    color: #adb5bd;
    pointer-events: none;
    height: 0;
  }

  & ul,
  & ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;

    & li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    line-height: 1.1;
    text-wrap: pretty;
  }

  & h1 {
    font-size: 1.4rem;
  }

  & h2 {
    font-size: 1.2rem;
  }

  & h3 {
    font-size: 1.1rem;
  }

  & h4,
  & h5,
  & h6 {
    font-size: 1rem;
  }

  & blockquote {
    @apply border-l border-neutral-200/80 dark:border-neutral-600/50;
    margin: 1.5rem 0;
    padding-left: 1rem;
  }

  & hr {
    @apply border-t border-neutral-500/20;
    border: none;
    margin: 2rem 0;
  }
}
