@layer base {
  ._ui h1 {
    @apply my-5 text-5xl/[1.1] font-extrabold;
  }
  ._ui h2 {
    @apply my-4 text-4xl/[1.2] font-bold;
  }
  ._ui h3 {
    @apply my-3 text-3xl/[1.3] font-semibold;
  }
  ._ui h4 {
    @apply my-2 text-2xl/[1.4] font-medium;
  }
  ._ui h5 {
    @apply my-1 text-xl font-medium;
  }
  ._ui h6 {
    @apply my-0.5 text-lg font-medium;
  }
  ._ui p {
    @apply text-base/6;
  }
  ._ui .caption {
    font-size: var(--text-sm);
    color: var(--text-secondary);
  }
}
