@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "../styles/themes/neutral.css";
@import "../styles/typography.css";

@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

@import "../styles/editor.css";

@import "@clerk/themes/shadcn.css";

@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  :root {
    @apply text-[13px] max-md:text-[11px];
  }

  body {
    @apply bg-background text-foreground;
  }

  button {
    cursor: pointer;
  }
}

@layer utilities {
  .container,
  [datatype="container"] {
    @apply mx-auto max-w-4xl;
  }
  .container-5xl,
  [datatype="container-5xl"] {
    @apply mx-auto max-w-5xl;
  }
  .container-6xl,
  [datatype="container-6xl"] {
    @apply mx-auto max-w-6xl;
  }
  .container-7xl,
  [datatype="container-7xl"] {
    @apply mx-auto max-w-7xl;
  }
  .container-8xl,
  [datatype="container-8xl"] {
    @apply mx-auto max-w-[1440px];
  }
}

@utility debug {
  border: 1px solid red;
}
@utility debug-y {
  border: 1px solid yellow;
}
@utility debug-g {
  border: 1px solid green;
}
